/* imported google fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700;800&family=Poppins:wght@300;500;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --btnColor: #18c67e;
  --titleColor: #18a068;
  --hoverColor: #0e9c62;
  --starColor: #18a068;
  --whiteColor: #ffffff;
  --whiteDeamColor: #dee3e1;
  --backgroundColor: #171c1a;
  --navBgColor: #171c1a;
  --linearColor: #1c1c1c;
  --footerBgColor: #1c1c1c;
  --e-global-color-astglobalcolor6: #ff893c;
  --borderColor: #889690;
  --cardBorderColor: #3e4643;
  --borradius: 4px;
}

.headerImgContainer {
  background-image: url(/Assets/images/pub-and-bar-drinks-header-img-bg.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  min-height: 350px;
  max-width: inherit;
  position: relative;
  z-index: 1;
}
.headerImgContainer::after {
  content: "";
  position: absolute;
  background-color: transparent;
  background: var(--linearColor);
  opacity: 0.8;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

header {
  height: 60px;
  padding: 1rem 1.5rem;
  position: relative;
}
.navBar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBtn {
  width: 13em;
  height: 3em;
}
.navLinks {
  display: flex;
  gap: 2em;
}

.logoNavCon {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 3.5em;
}

.toggle_menu {
  font-size: 1.7em;
  color: var(--whiteDeamColor);
  cursor: pointer;
  display: none;
}
.cross {
  padding: 0.3em;
  font-size: 2em;
  color: var(--whiteDeamColor);
  position: absolute;
  right: 0;
  top: 0;
  border: #dee3e1 1px dotted;
  border-radius: 2px;
}
.dropMenu {
  width: 0%;
  height: 100vh;
  background: var(--navBgColor);
  border-radius: 6px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: width 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropMenu.open {
  width: 100%;
}
.dropMenuNav {
  margin: 5em 0;
}
.dropMenu li a {
  color: #fff;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9em;
}
.dropMenu li a.active {
  color: var(--hoverColor);
}
/******************** Conatiners ***********************/

.containerOne {
  padding: 6em 2em;
  width: 100%;
  height: 100%;
}
.containerTwo {
  padding: 0 1em;
  width: 100%;
  height: 100%;
}
.containerThree {
  padding: 4em 1em;
}

.containerFour {
  padding: 0 0 6em;
}
/* *********************** Content ************************** */
.content {
  margin: 8em 2.5em;
}
.aboutBold {
  font-size: 6em;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--whiteColor);
}

/* <!-- gift to a friend section  --> */
.flexContainerFour {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-height: 310px;
  border: var(--borderColor) 4px solid;
}
.flexBox1 {
  flex-direction: column;
  flex: 1.3;
  border-right: var(--borderColor) 4px solid;
}

.flexBox2 {
  flex: 4;
}

.box1 {
  flex: 1;
  border-bottom: var(--borderColor) 4px solid;
  justify-content: center;
  align-items: center;
}

.box {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.box3 {
  padding: 0 1em;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 921px) {
    padding: 0.6em 1em;
  }
}

.bxBoldTxt {
  font-size: 3.1em;
}

.textContent {
  flex: 2;
  padding: 2em 3em;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  @media (max-width: 921px) {
    gap: 1em;
  }
}

.boxSvg {
  flex: 1;
  transform: rotate(30deg);
  position: relative;
  top: 1em;
  right: 0.8em;
  @media (max-width: 921px) {
    top: -2em;
    right: 1.5em;
  }
}
.boxSvg svg {
  width: 100%;
  height: 100%;
  max-width: 223px;
  min-height: 223px;
}
.giftBtn {
  width: 13em;
  height: 3em;
}
/* Drinks section */

/* Drinks Header section */
.DrinksHeaderTextContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.DrinksBold {
  font-size: 3.78em;
}
.DrinksSubtext {
  padding: 0 12em 1em;
}
.PriceText {
  gap: 1em;
  align-items: center;
}
.PriceText p i {
  font-weight: 400;
  font-size: 0.89em;
}
/* Drinks Card section */
.DrinksCardsContainer {
  justify-content: space-between;
  align-items: flex-start;
  padding: 8em 0;
  gap: 2em;
}
.DrinksCardsFlexContainerOne {
  width: 100%;
  height: 100%;
  max-width: 553px;
  min-height: 103px;
  display: flex;
  flex-direction: column;
}
.DrinksCardsFlexContainerTwo {
  width: 100%;
  height: 100%;
  max-width: 553px;
  min-height: 103px;
  display: flex;
  flex-direction: column;
}
.DrinksCardsFlexContainerThree {
  width: 100%;
  height: 100%;
  max-width: 553px;
  min-height: 103px;
  display: flex;
  flex-direction: column;
  padding: 4em 0;
}
.DrinksTitle {
  margin: 0 0 0.45em;
  font-size: 2.3em;
}
.DrinksCard {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2em;
  flex: 1;
  margin: 0 0 2.5em;
}
.CardImg {
  max-width: 105px;
  min-height: 105px;
}
.DrinksCardText {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.DrinksCardBoldtext {
  font-size: 1.4em;
}
.DrinksCardSubtext {
  font-size: 0.789em;
}
/* ****************  Reviews Section **************** */
.ReviewContainer {
  margin: 3em 0;
}
.Review {
  border-top: 4px var(--borderColor) solid;
  border-bottom: 4px var(--borderColor) solid;
  padding: 3em 1em;
  align-items: center;
  justify-content: center;
}
.ReviewCard {
  width: 100%;
  height: 100%;
  max-width: 800px;
  min-height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.67em;
}

.ReviewBoldtext {
  font-size: 1.15em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0;
  text-align: center;
}

.quote i {
  font-size: 2em;
  color: var(--whiteColor);
}
.profile {
  align-items: center;
  gap: 1em;
}
.profileImg img {
  max-width: 32px;
  min-height: 32px;
  border-radius: 50%;
}
.profileName {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0;
}
.rating {
  color: var(--starColor);
}
/* ******************************** */

.UpcomingSection {
  width: 100%;
  height: 100%;
}
.upcomingTextContainer {
  padding: 2em 3em;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.upcomingText {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-height: 152px;
}
.upcomingCardContainer {
  padding: 1em 2em;
}
.upcomingImg {
  max-width: 526px;
  min-height: 351px;
  margin: 0 0 2em;
}

.UpcomingFlexBox {
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.upcomingContent {
  width: 100%;
  height: 100%;
  max-width: 526px;
  min-height: 201px;
  gap: 2em;
  align-items: start;
}
.eventDate {
  position: relative;
  top: 20px;
  padding: 0.9em 0;
}
.eventDate::before {
  content: "";
  position: absolute;
  top: 0;
  --divide-color: #18c67e;
  background: var(--divide-color);
  width: 49px;
  height: 2.5px;
}
.upcomingCardText {
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}
.eventBtn {
  width: 13em;
  height: 2.95em;
  margin: 0.97em 0 0;
}
/* Footer bg Img section */
.footerImgContainer {
  background-image: url(/Assets/images/pub-and-bar-template-cta-bg-img.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 10em 3em;
}
.footerImgContainer::after {
  content: "";
  position: absolute;
  background-color: var(--linearColor);
  opacity: 0.8;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.footerContentContainer {
  text-align: center;
}
.footerBgSocialLink a i {
  font-size: 4em;
  color: var(--whiteColor);
}
.footerBoldtext {
  font-size: 5em;
  @media (max-width: 921px) {
    font-size: 3.5em;
  }
}
.footerMdboldText {
  font-size: 3.5em;
  @media (max-width: 921px) {
    font-size: 2.89em;
  }
}
.footerSubtext {
  text-align: center;
}
.footerContent {
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 100%;

  @media (max-width: 921px) {
    max-width: 800px;
    min-height: 438px;
    padding: 0em 1em;
  }
}
.footerBtn {
  width: 20em;
  height: 3em;
  font-size: 0.9em;
  font-weight: 600;
  margin: 3em 0 0 0;
  @media (max-width: 921px) {
    margin: 0;
    font-size: 0.78em;
  }
}
/* Footer Nav Bar */
footer {
  background: var(--footerBgColor);
  padding: 2em 1em 0;
  text-align: center;
}
.footerNavBar {
  align-items: center;
  justify-content: space-between;
  @media (max-width: 921px) {
    flex-direction: column;
    gap: 2em;
  }
}

.footerSocialLink {
  align-items: center;
  gap: 2em;
}

.endtext {
  padding: 2em 0 0;
}
.copywrite {
  padding: 2em 0 0;
  font-size: 0.78em;
}
.designerText i {
  color: var(--hoverColor);
}
.designerText {
  text-align: end;
  padding: 3em 0 0;
  @media (max-width: 921px) {
    text-align: center;
  }
}
/* Media Querries */
@media (max-width: 921px) {
  body {
    overflow-x: hidden;
  }
  .headerImgContainer {
    min-height: 250px;
  }
  .navLinks,
  .navBtn {
    display: none;
  }
  .toggle_menu {
    display: block;
  }
  /* Containers */
  .containerOne {
    padding: 4em 2em;
  }
  .containerTwo {
    padding: 0 1em;
  }
  .containerThree {
    padding: 4em 0;
  }
  .aboutBold {
    font-size: 3.3em;
  }
  .content {
    margin: 5em 2em;
  }
  /* Gift section */
  .flexContainerFour {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
  }
  .flexBox1 {
    display: flex;
    flex-direction: column;
    border: none;
    flex: 3;
  }

  .flexBox2 {
    flex: 4;
  }
  .textContent {
    padding: 0;
  }
  .bxBoldTxt {
    font-size: 1.7em;
  }
  .box1 {
    flex: 1.3;
    padding: 0.89em 0;
    border-top: var(--borderColor) 4px solid;
  }
  .box {
    padding: 0.89em 0;
  }
  .box3 {
    justify-content: start;
    flex-direction: column-reverse;
  }
  .boxSvg {
    flex: 1;
    transform: rotate(30deg);
    position: relative;
  }
  .boxSvg svg {
    width: 150px;
    height: 150px;
  }
  /* ********************* */
  .DrinksHeaderTextContainer {
    margin: 0 0 4em;
  }
  .DrinksBold {
    font-size: 2em;
  }
  .DrinksSubtext {
    padding: 0;
  }
  .DrinksCardsContainer {
    justify-content: center;
    padding: 1em 0;
  }
  .DrinksCard {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.2em;
  }
  .CardImg {
    max-width: 72px;
    min-height: 72px;
  }
  /* ********************* */
  .Review {
    padding: 2em 0.89em;
  }
  .upcomingImg {
    min-height: 0;
    margin: 0;
  }
  .upcomingContent {
    flex-direction: column;
  }
  .upcomingCardContainer {
    padding: 1em 0.98em;
  }
  .upcomingImg {
    max-width: 342px;
    min-height: 228px;
    margin: 0;
  }
  .upcomingTextContainer {
    padding: 2em 1em;
  }
  .upcomingCardText {
    padding: 0 0 3em;
  }
  .eventBoldText {
    font-size: 2em;
  }
  .upcomingCardText {
    gap: 0;
  }
  .footerNavLink {
    display: block;
  }
  .footerNavLink li a {
    padding: 2em 0;
  }
  .footerImgContainer {
    padding: 2em 0;
  }
}
@media (max-width: 500px) {
  .DrinksCardsContainer {
    flex-wrap: wrap;
  }
}
