/* imported google fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700;800&family=Poppins:wght@300;500;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --btnColor: #18c67e;
  --titleColor: #18a068;
  --hoverColor: #0e9c62;
  --starColor: #18a068;
  --whiteColor: #ffffff;
  --whiteDeamColor: #dee3e1;
  --backgroundColor: #171c1a;
  --backgroundColor2: #1c1c1c;
  --navBgColor: #171c1a;
  --linearColor: #1c1c1c;
  --footerBgColor: #1c1c1c;
  --e-global-color-astglobalcolor6: #ff893c;
  --borderColor: #889690;
  --cardBorderColor: #3e4643;
  --borradius: 4px;
}
body {
  background: var(--backgroundColor2);
}

.AboutContainer {
  background-image: url(/Assets/images/pub-and-bar-store-header-img-bg.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-width: inherit;
  position: relative;
  z-index: 1;
}
.AboutContainer::after {
  content: "";
  position: absolute;
  background-color: transparent;
  background: var(--linearColor);
  opacity: 0.8;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

header {
  height: 60px;
  padding: 1rem 1.5rem;
  position: relative;
}
.navBar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBtn {
  width: 13em;
  height: 3em;
}
.navLinks {
  display: flex;
  gap: 2em;
}

.logoNavCon {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 3.5em;
}

.toggle_menu {
  font-size: 1.7em;
  color: var(--whiteDeamColor);
  cursor: pointer;
  display: none;
}
.cross {
  padding: 0.3em;
  font-size: 2em;
  color: var(--whiteDeamColor);
  position: absolute;
  right: 0;
  top: 0;
  border: #dee3e1 1px dotted;
  border-radius: 2px;
}
.dropMenu {
  width: 0%;
  height: 100dvh;
  background: var(--navBgColor);
  border-radius: 6px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: width 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropMenu.open {
  width: 100%;
}
.dropMenuNav {
  margin: 5em 0;
}
.dropMenu li a {
  color: #fff;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9em;
}
.dropMenu li a.active {
  color: var(--hoverColor);
}
/******************** Conatiners ***********************/

.containerOne {
  padding: 1em 2em;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

/* *********************** Content ************************** */
.content {
  margin: 8em 2.5em;
  display: flex;
  justify-content: center;
}
.aboutBold {
  font-size: 6em;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--whiteColor);
}
/* Card Section */

/* card header Text */
.cardHeaderText {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5em 1em;
}
.cardHeaderText .boldText {
  font-size: 3.5em;
  padding: 0 0 0.3em;
}
.cardHeaderText .Subtext {
  width: 100%;
  height: 100%;
  max-width: 668px;
  min-height: 52px;
}
/* Card Container */
.cardContainer {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em 2.5em;
  @media (max-width: 921px) {
    padding: 1em 1.3em;
  }
}

.card {
  margin: 0 0 5em;
}

.cardImg img {
  max-width: 351px;
  min-height: 351px;
  margin: 0 0 2em;
}

.cardText {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.85em;
}

.cardShopBtn {
  width: 9em;
}
/* <!-- gift to a friend section  --> */
.flexContainerFour {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-height: 310px;
  border: var(--borderColor) 4px solid;
}
.flexBox1 {
  flex-direction: column;
  flex: 1.3;
  border-right: var(--borderColor) 4px solid;
}

.flexBox2 {
  flex: 4;
}

.box1 {
  flex: 1;
  border-bottom: var(--borderColor) 4px solid;
  justify-content: center;
  align-items: center;
}

.box {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.box3 {
  padding: 0 1em;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 921px) {
    padding: 0.6em 1em;
  }
}

.bxBoldTxt {
  font-size: 3.1em;
}

.textContent {
  flex: 2;
  padding: 2em 3em;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  @media (max-width: 921px) {
    gap: 1em;
  }
}

.boxSvg {
  flex: 1;
  transform: rotate(30deg);
  position: relative;
  top: 1em;
  right: 0.8em;
  @media (max-width: 921px) {
    top: -2em;
    right: 1.5em;
  }
}
.boxSvg svg {
  width: 100%;
  height: 100%;
  max-width: 223px;
  min-height: 223px;
}
.giftBtn {
  width: 13em;
  height: 3em;
} /* Footer bg Img section */
.footerImgContainer {
  background-image: url(/Assets/images/pub-and-bar-template-cta-bg-img.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 10em 3em;
}
.footerImgContainer::after {
  content: "";
  position: absolute;
  background-color: var(--linearColor);
  opacity: 0.8;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.footerContentContainer {
  text-align: center;
}
.footerBgSocialLink a i {
  font-size: 4em;
  color: var(--whiteColor);
}
.footerBoldtext {
  font-size: 5em;
}
.footerMdboldText {
  font-size: 3.5em;
}
.footerSubtext {
  text-align: center;
}
.footerContent {
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 100%;
}
.footerBtn {
  width: 20em;
  height: 3em;
  font-size: 0.9em;
  font-weight: 600;
  margin: 3em 0 0 0;
}
/* Footer Nav Bar */
footer {
  background: var(--footerBgColor);
  padding: 2em 1em 0;
  text-align: center;
}
.footerNavBar {
  align-items: center;
  justify-content: space-between;
}

.footerSocialLink {
  align-items: center;
  gap: 2em;
}

.endtext {
  padding: 2em 0 0;
}
.copywrite {
  padding: 2em 0 0;
  font-size: 0.78em;
}
.designerText i {
  color: var(--hoverColor);
}
.designerText {
  text-align: end;
  padding: 3em 0 0;
}
/* Media Querries */
@media (max-width: 921px) {
  body {
    overflow-x: hidden;
  }
  .AboutContainer {
    min-height: 300px;
  }
  .navLinks,
  .navBtn {
    display: none;
  }
  .toggle_menu {
    display: block;
  }
  /* Containers */
  .containerOne {
    padding: 6em 1em;
  }
  .containerTwo {
    padding: 0 1em;
  }
  .containerThree {
    padding: 4em 0;
  }
  .aboutBold {
    font-size: 3.5em;
  }
  .content {
    margin: 5em 2em;
  }
  /* Gift section */
  .flexContainerFour {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
  }
  .flexBox1 {
    display: flex;
    flex-direction: column;
    border: none;
    flex: 3;
  }

  .flexBox2 {
    flex: 4;
  }
  .textContent {
    padding: 1em;
  }
  .bxBoldTxt {
    font-size: 1.7em;
  }
  .box1 {
    flex: 1.3;
    padding: 0.89em 0;
    border-top: var(--borderColor) 4px solid;
  }
  .box {
    padding: 0.89em 0;
  }
  .box3 {
    justify-content: start;
    flex-direction: column-reverse;
  }
  .boxSvg {
    flex: 1;
    transform: rotate(30deg);
    position: relative;
  }
  .boxSvg svg {
    width: 130px;
    height: 130px;
  }
  /* ********************* */

  .footerImgContainer {
    padding: 2em 0;
  }

  .footerBoldtext {
    font-size: 3.5em;
  }

  .footerMdboldText {
    font-size: 2.89em;
  }

  .footerSubtext {
    text-align: center;
  }
  .footerContent {
    max-width: 800px;
    min-height: 438px;
    padding: 0em 1em;
  }

  .footerBtn {
    margin: 0;
    font-size: 0.78em;
  }

  .footerNavLink {
    display: block;
    margin: 2em 0;
  }
  .footerNavLink li {
    padding: 0.4em 0;
  }

  .footerNavBar {
    flex-direction: column;
    gap: 2em;
  }

  .designerText {
    text-align: center;
    margin: 0;
  }
}
